---
layout: pages
title: Luis&#39;s Socks
---
<h2>Sock Facts</h2>
<dl>
	<dt>Pairs Owned:</dt><dd>20</dd>
	<dt>Unique Sock Combinations:</dt><dd>190ish</dd>
</dl>

<h2>All Socks</h2>
<h3>Currently Owned Socks</h3>
<table>
<caption>Currently Owned Socks</caption>
<tr>
	<th scope="col">Condition</th>
	<!-- <th scope="col">Image or Description</th> -->
	<th scope="col">Model</th>
	<th scope="col">Color</th>
	<th scope="col">Date Acquired</th>
</tr>
{% assign allSocks = site.data.socks %}
{% for sock in allSocks %}
{% if sock.condition != 'retired' %}<tr>
	<td>{{ sock.condition }}</td>
	<!-- <td>Image Placeholder</td> -->
	<td>{{ sock.model }}</td>
	<td>{{ sock.color }}</td>
	<td>{{ sock.dateMonthAcquired }}/{{ sock.dateDayAcquired }}/{{ sock.dateYearAcquired }}</td>
</tr>{% endif %}
{% endfor %}</table>

<h3>Retired Socks</h3>
<!-- this will eventually be a table similar to Currently Owned Socks -->
<p>No socks currently retired</p>