<aside class="container row">
<div class="three columns">
	<h2>Socks I Want</h2>
	<dl>
		<dt>Brand</dt><dd>Stance</dd>
		<dt>Gender</dt><dd>Men</dd>
		<dt>Size</dt><dd>L, LG/XL, or 10.5</dd>
		<dt>Style</dt><dd>Classic Crew</dd>
	</dl>
</div>
<div class="three columns">
	<h2>Socks I Don't Want</h2>
	<ul>
		<li><a href="http://www.stance.com/s.-curry/M545C16SCU.html?cgid=men-casual-nba-future-legends#start=1">Person</a> or <a href="http://www.stance.com/the-resistance/M545C16RST.html#start=1">Character</a> Socks
		<li><a href="http://www.stance.com/mlb/">Team</a> Socks
		<li>Socks that <a href="http://cdn.shopify.com/s/files/1/0225/5481/products/M558D16PEE_BLK_M_large.png?v=1475876032">perpetuate</a> <a href="http://www.tactics.com/a/8f39/9/stance-podium-sock-grey.jpg">gender stereotypes</a>
	</ul>
</div>
<div class="three columns">
	<h2>Where To Get Socks</h2>
	<ul>
		<li>Ross in-store (rumored)</li>
		<li><a href="http://www.stance.com">stance.com</a></li>
		<li>More suggestions coming soon!</li>
	</ul>
</div>
<div class="three columns">
	<h2>Sock Facts</h2>
	<dl>
		<dt>Pairs Owned:</dt><dd>20</dd>
		<dt>Unique Sock Combinations:</dt><dd>190ish</dd>
	</dl>
</div>
</aside>